[Unit]
Description=RethinkDB database off-site backups

[Timer]
OnCalendar=*-*-* 1:00:00
Persistent=true
AccuracySec=30s

[Install]
WantedBy=timers.target
