[Unit]
Description=RethinkDB database offsite backup

[Service]
ExecStart=/home/mantarobot/data/backup.sh
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
